<?xml version="1.0" ?>
<model>
  <name>interceptor</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>HW</name>
  </author>
  <description>
    Interceptor drone based on x500 parameters.
    Replace physical parameters with real measurements for Sim-to-Real validation.
  </description>
</model>
